body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin-top:40px;
}

h1 {
  color: #333;
  /* font-size:xx-large; */
}

.form-container {
  width: 80%;
  margin: auto;
  
}

.form-container input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius:5px;
  border: 1px solid #ccc;  
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-container button {
  width: 80%;
  padding: 10px;
  display: block;
  margin: auto;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}

.result-container {
  width: 80%;
  margin: auto;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* @media all and (min-width:100px) and (max-width: 800px) {
  .title{
    font-size: 7rem;
  }
  .form-container{
   max-width: 100%;
  }
  .form-container input[type="text"]{

  }
  .form-container button {

  }
  .result-container{

  }
} */
